* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*--------------------------------------------*/
/*Menú de inicio*/
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #c1c3c4;
}

a,li{
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.logo-header img{
    width: 90px;
}

header{
    background-color: rgb(24, 105, 110);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
}

.nav-menu ul{
    display: flex;
    align-items: center;
}

.nav-menu li{
    margin-right: 1.5rem;
}

.nav-menu a:hover{
    color: #4ad295;
}

.nav-menu li:last-child{
    background-color: #4ad295;
    border: #4ad295;
    padding: 0.25rem 0.75rem;
    border-radius: 0.2rem;
}

.nav-menu li:last-child:hover{
    background: transparent;
    border: 2px solid #4ad295;
}


/*--------------------------------------------*/

body {
	font-family: 'Montserrat', sans-serif;
	background: #e0e0e0;
	color: #1d1d1d;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 40px auto 100px auto;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
}

.contenedor .pelicula {
	text-align: center;
}

.contenedor .pelicula .titulo {
	font-size: 16px;
	font-weight: 600;
}

.contenedor .pelicula .poster {
	width: 100%;
	margin-bottom: 10px;
	border-radius: 15px;
}

.paginacion {
	position: fixed;
	bottom: 0;
	background: rgb(24, 105, 110);
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 10px;
}

.paginacion button {
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 50px;
	width: 200px;
	background: rgb(26, 139, 145);
	color: #fff;
	border-radius: 100px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	transition: .3s ease all;
}

.paginacion button:hover {
	background: #4ad295;
}
