@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/*Menú de inicio*/
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #c1c3c4;
}

a,li{
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.logo-header img{
    width: 90px;
}

header{
    background-color: rgb(24, 105, 110);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
}

.nav-menu ul{
    display: flex;
    align-items: center;
}

.nav-menu li{
    margin-right: 1.5rem;
}

.nav-menu a:hover{
    color: #4ad295;
}

.nav-menu li:last-child{
    background-color: #4ad295;
    border: #4ad295;
    padding: 0.25rem 0.75rem;
    border-radius: 0.2rem;
}

.nav-menu li:last-child:hover{
    background: transparent;
    border: 2px solid #4ad295;
}

/*-------------------------------------------------------*/

.container{
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

/* pie de pagina*/

/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: rgb(24, 105, 110);
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

/**/

#Titulo-QS{
    color: #0a1a2a;
    text-align: center;
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
}

.texto-grande{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}


